@page "/tetris"

@code {
Grid grid = new Grid();
Tetromino currentTetromino;
}

<PageTitle Title="Tetris" />

<div class="row">
    <div class="col">
        <div class="tetris-container" tabindex="0">
            @for (int i = grid.Height; i >= 1; i--)
            {
                <div class="tetris-row">
                    @for (int j = 1; j <= grid.Width; j++)
                    {
                        <TetrisGridCell Row="i" 
                                        Column="j" 
                                        Tetromino="currentTetromino" 
                                        Grid="grid" />
                    }
                </div>
            }
        </div>
    </div>
</div>
