@page "/todo"


@*
header to show a count of the number of todo 
items that aren't complete (IsDone is false).
*@


<h1>Todo (@todos.Count(todo => !todo.IsDone))</h1>



<ul>
    @foreach (var todo in todos)
    {
        <li>

            <input type="checkbox" @bind ="todo.IsDone" >
            <input @bind = "todo.Title" />
    </li>
    }
</ul>


@*Single binding being used *@

<input placeholder="Something todo" @bind ="newTodo"/>
<button @onclick ="addToDo">add todo</button>

@code 
{


@*
1. Create a todo list Blazor app project
2. Modify Razor components
3. Use event handling and data binding in components
4. Use routing in a Blazor app
*@


    private List<TodoItem> todos = new();
    private string newTodo;

    private void addToDo()
    {
        if (string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}

