@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    /// <summary>
    /// Each time the Click me button is selected:
    ///The onclick event is fired.
    ///The IncrementCount method is called.
    ///The currentCount is incremented.
    ///The component is rendered to show the updated count.
    /// [pARAMETER] added for IncrementAmount attributes 
    /// </summary>


     [Parameter]
     public int IncrementAmount { get; set; } = 50;


    private int currentCount = 0;

    private void IncrementCount()
    {
      
        currentCount += IncrementAmount;
    }
}